[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/salah/Desktop/commands]
row=0
col=1

[/home/salah/Desktop/school]
row=4
col=0

[/home/salah/Desktop/img23.png]
row=1
col=1

[6218525918522C73]
row=1
col=0

[Trash]
row=0
col=0

[/]
row=2
col=0

[/home/salah]
row=3
col=0

